{% extends "layout.html" %}

{% block title %}
Welcome!
{% endblock %}

{% block main %}

<div id="welcome-text" class="container-fluid">
    <h4>Welcome students and parents!</h4>

    <p>I am thrilled to have you here on this language learning journey.
        Together, we will unlock your potential and help you excel in the
        English language.</p>
    <p>As your personal English tutor, I am dedicated to providing you with a
        customized and engaging learning experience. We will work closely
        together to
        address your specific goals, whether it's improving your speaking
        skills, enhancing your grammar proficiency, or mastering English for
        academic or professional purposes.</p>
    <p>With the convenience of online learning, you can join me from anywhere
        in the world. Through our interactive sessions, we will delve into
        various language components, practice conversational skills, and
        explore real-life scenarios to make your learning experience practical
        and enjoyable.</p>
    <p>Thank you for choosing me as your English tutor! Let's embark on this
        language learning adventure together and make significant strides in
        your English proficiency.</p>
    <p>-Stephanie Marie Meacham</p>

</div>

{% endblock %}
